@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	@apply flex  flex-col items-center  bg-secondary text-primary font-nunito p-10;
}

main {
	@apply rounded-2xl min-w-[600px] bg-dark  p-10;
}
